<!-- app/views/users/show.html.erb -->
<body class="user-show">
  <div class="post-header">
    <div class="user-profile-photo">
      <%= image_tag(@user.profile_photo, alt: "#{@user.username}'s profile photo") if @user.profile_photo.attached? %>  </div>
    <p class="username"><strong><%= @user.username %></strong></p>
  </div>

  <h2 class="user-intro"><%= @user.intro %></h2>
  <hr> <!-- Line under intro -->

  <h3 class="user-bio"><%= @user.bio %></h3>
  <hr> <!-- Line under bio -->

  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <%= render partial: 'posts/post_card', locals: { post: post, no_post_header: true } %>
    <% end %>
  <% else %>
    <p>This user has not posted anything yet.</p>
  <% end %>
</div>
