<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="navbar-inner"> <!-- Flexbox container -->
      <!-- Logo -->
      <%= link_to posts_path, class: "d-flex align-items-center" do %>
        <span class="navbar-brand-name">GI</span>
        <i class="fa-solid fa-infinity" style="font-size: 30px;"></i>
      <% end %>

      <!-- Search Bar -->
      <div class="search-container">
        <%= simple_form_for :search, url: posts_path, method: :get do |f| %>
          <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search for..." />
            <button name="button" type="submit" class="btn btn-ghost">
              <i class="fas fa-search"></i>
            </button>
          </div>
        <% end %>
      </div>

      <div class="navbar-icons">
        <!-- Categories Icon -->
        <div class="dropdown">
          <button class="btn btn-ghost" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-th-list" style="font-size: 24px;"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <% @categories.each do |category| %>
              <li>
                <%= link_to category_path(category), class: "dropdown-item" do %>
                  <%= category.name %>  <!-- Display only the category name -->
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>

        <%= link_to new_post_path, class: "btn btn-ghost" do %>
          <i class="fa-solid fa-plus" style="font-size: 24px;"></i>
        <% end %>

        <div class="dropdown">
          <button class="btn btn-ghost" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle" style="font-size: 24px;"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
            <% if user_signed_in? %>
              <%= link_to "Your profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            <% else %>
              <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
            <% end %>
            <li>
              <button id="theme-toggle-button" class="dropdown-item" data-controller="toggle-theme" data-action="click->toggle-theme#toggleDarkMode">
                <i id="theme-icon" class="fas fa-sun" style="font-size: 18px;" data-toggle-theme-target="icon"></i> 
                <span data-toggle-theme-target="modeText"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
