<!-- app/views/posts/show.html.erb -->

<div class="post-category">
  <h2><%= @post.category.name %></h2>
</div>

<%= link_to 'Edit post', edit_post_path(@post), class: "edit-button" %>
<%= button_to 'Delete post', post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: "delete-button" %>


<div class="post-header">
  <h1><%= @post.title %></h1>
  <p><%= @post.user.username %></p>
</div>

<div class="post-content">
  <p><%= @post.content %></p>
</div>

<% if @post.photos.attached? %>
  <div class="post-photos">
    <% @post.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
<% end %>

<div class="answers-section">
  <h3>Responses</h3>
  <% @answers.each do |answer| %>
    <div class="answer">
      <div class="answer-user">
        <strong><%= answer.user.username %></strong> says:
      </div>
      <div class="answer-content">
        <p><%= answer.content %></p>
      </div>
    </div>
  <% end %>
</div>
